* {
    margin: 0;
    padding: 0;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

header h1{
    font-size: 35px;
    display:inline;
    justify-content:none;
}
body{
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: auto 70% ;
    grid-template-areas: 
    "header header" 
    "navigation article" 
    "footer footer";
    margin-left: 5%;
    margin-right: 5%;
    
    /*background-image: url(resourses/images/bg_image.jpg);*/
}



header{
    margin-top: 10px;
    grid-area: header;
    background-color: #424;
}

.sidebar{
    grid-area: sidebar;
    
}

article{
    grid-area: article;
}

footer{
    text-align: center;
    background-color: #424;
    grid-area: footer;
    margin-bottom: 25px;
}

nav{
    grid-area: navigation;
}

nav ul{
    list-style-type: none;
    width: 100%;
    background-color: #AAA;
}

nav li{
    background-color: #AAA;
}

nav li a{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

nav li a:hover{
 background-color: #222;
 color: #FFF;
}

.active{
    background-color: rgb(37, 22, 37);
    color: #DFD;
}


article h1, .sidebar h1, .sidebar h2{
    margin-bottom: 15px;
    border-bottom: #646 3px solid;
    border-radius: 7px;

}

article p {
    margin-bottom: 10px;
}



article picture{
    margin: 0,10px,10px,0;
    border-bottom: #646 3px solid;
    border-radius: 7px;
    float:left;
    margin-right: 10px;
    max-width: 50%;
    
    
}

article img{
    display: inline-block;
    max-width: 100%;
}



/* if sidebar exists then add margin to article*/




.sidebar a{
    display: block;
}

.projectblock {
    padding: 20px;
    margin: 30px;
    height: 250px;
    width: 250px;
    background-color: #222;
    color: #EEE;
    float: left;
}

header,.sidebar,article,nav, footer{
    background-image: linear-gradient(rgba(32,32,32,0.98), rgba(64,32,64,0.95));
    color: #EEE;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(64, 32, 64, .35), 0 3px 10px 0 rgba(64, 32, 64, .2);
}



.projectblock picture, .A picture,.B picture,.C picture,.D picture{
    max-height: 100px;
    max-width: 200px;
    border-color: #EEE;
    float:none;
    width: 100%;
}

.sidebar img{
    height: 100px;
    width: 100%;
}

.sidebar a{
    text-decoration: none;
    color: #FFF;

}

.sidebar a:hover{
    color: #000;
}



@media only screen and (max-width: 600px) {
    .sidebar {
      display:none;
    }

    .sidebar + article{
        margin-right: 0px;
    }

    article picture{
        width: auto;
    }

    article {
        min-height: 70%;
    }

    article img{
        width: 100%;
    }


    .header{
        margin-right: 10px;
    }

    nav li{
        width:auto;
    }
    

    body{
        display: flex;
        flex-flow: column;
        margin:0;
        
    }

    .header{
        height: 50px;
    }
  }


  @media only screen and (max-width: 900px) and (min-width: 600px){
    .sidebar {
      display:none;
    }

    .sidebar + article{
        margin-right: 0px;
    }

    article picture{
        width: auto;
    }


    .header{
        margin-right: 10px;
    }

    #projectContainer{
        
    }

    body{
        display: grid;
        grid-template-areas: "header header" "navigation article" "footer footer";
        grid-template-columns: auto auto;
        grid-template-rows: 75px auto 50px;
        margin-left: 5%;
        margin-right: 5%;
    }
  }
